{%extends 'base.html' %}
{%load static%}
{%block title%}Upcoming Event{%endblock%}
{%block blogActive%}active{%endblock%}
{%block customCss%}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{%endblock%}
{%block body%}
<div class="max-w-3xl mx-auto px-4 sm:px-6 xl:max-w-5xl xl:px-0">
    <main>
        <div class="divide-y divide-gray-200">
            <ul class="divide-y divide-gray-200">
                <li class="py-12">
                    <article class="space-y-2 xl:grid xl:grid-cols-4 xl:space-y-0 xl:items-baseline">
                        <dl><dt class="sr-only">Author</dt>
                            <dd class="text-base leading-6 font-medium ">
                                <span class="font-semibold title-font text-gray-700">{{a.speaker}}</span>
                            </dd>
                            <dt class="sr-only">Published on</dt>
                            <dd class="py-5 text-base leading-6 font-medium text-gray-400">
                                <time datetime="2021-04-14T16:01:00.000Z">{{a.timeStamp}}</time>
                            </dd>
                        </dl>
                        <div class="space-y-5 xl:col-span-3">
                            <div class="space-y-6">
                                <h2 class="text-2xl leading-8 font-bold tracking-tight"><a class="text-gray-900">{{a.title}}</a></h2>
                                <div class="prose max-w-none text-gray-500">
                                    {{a.content|safe}}
                                </div>
                            </div>
                            <footer class="text-sm font-medium leading-5 divide-y divide-gray-200 xl:col-start-1 xl:row-start-2">
                                <div class="space-y-8 py-8">
                                    <div>
                                        <h2 class="text-xs tracking-wide uppercase text-gray-500">
                                            Speaker
                                        </h2>
                                        <div class="">
                                            <a>{{a.speaker}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="pt-8">
                                    <a class="" href="/">← Back to the home</a>
                                </div>
                            </footer>
                        </div>
                    </article>
                </li>
            </ul>
        </div>
    </main>
</div>
{%endblock%}