{%extends 'base.html' %}
{%block title%}About{%endblock%}
{%block aboutActive%}active{%endblock%}
{%block customCss%}
{%endblock%}
{%block body%}
<section class="lg:px-40 text-gray-600 body-font">
    <div class="container px-5  mx-auto lg:pt-24">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Aim of AAII</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">The primary aim of this initiative is to create a sustainable AI platform for the students/researchers/AI-enthusiasts of India’s NE region and popularize AI among children/non-specialists of the NE region. Note that AAII is a nonprofit organization.</p>
        </div>
    </div>
    <h2 class="text-xs text-center text-yellow-500 tracking-widest font-medium title-font mb-1">OUR OBJECTIVES</h2>
    <div class="container px-5 py-10 mx-auto flex flex-wrap">
        <div class="hidden lg:block lg:w-1/2 w-full mb-10 lg:mb-0 rounded-sm overflow-hidden">
            <img alt="feature" class="object-cover object-center h-full w-full" src="/static/assets/img/objective.jpg">
        </div>
        <div class="flex flex-col flex-wrap lg:py-6 -mb-10 lg:w-1/2 lg:pl-12 lg:text-left ">
            <div class="flex flex-col mb-10 lg:items-start items-center">
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Networking</h2>
                    <p class="leading-relaxed text-base">Provide exposure to students/researchers/AI-enthusiast of the NE region of India through this platform for fulfilling their AI-dreams. And it will facilitate networking with AI-related companies and highly experienced AI researchers (from all areas, such as biological science, physical science, statistics, maths).</p>
                </div>
            </div>
            <div class="flex flex-col mb-10 lg:items-start items-center">
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Mentoring</h2>
                    <p class="leading-relaxed text-base">This society will provide mentoring in conducting AI-related the undergraduate/master projects of NE students.</p>
                </div>
            </div>
            <div class="flex flex-col mb-10 lg:items-start items-center">
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">Event organization</h2>
                    <p class="leading-relaxed text-base">Experienced researchers/scientists from industry and academia will be invited to deliver talks/tutorials on AI/ML/DL/RL. And also interview them on specific problems related to the NE region, and the possibilities to solve them using AI. There will be hiring sessions in which students/researchers can showcase/pitch their AI projects/ideas in front of the industry person.</p>
                </div>
            </div>
            <div class="flex flex-col mb-10 lg:items-start items-center">
                <div class="flex-grow">
                    <h2 class="text-gray-900 text-lg title-font font-medium mb-3">AI popularization</h2>
                    <p class="leading-relaxed text-base">Several activities, such as general AI talks for school children/non-specialists and general AI-related articles, will be conducted to promote AI.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}